<div class="page-description c-3">
  Δείτε σε χάρτη όλες τις παραλίες της Αίγινας<span>+</span>
</div>

<div class="map hidden-map">
  <div id="map"></div>
</div>

<div class="beaches-list-wrapper">

  {{#each data}}

    <div class="beach-item" key="{{this.id}}">

      <img src="{{this.img}}" alt="beach photo" class="image" />

      <div class="text-wrapper">
        <div class="card-top-part-wrapper">
          <div class="title">{{this.title}}</div>
          <div class="location-icon"></div>
        </div>
        <div class="card-middle-part-wrapper">
          <div class="organized">{{this.organized}}</div>
          <div class="direction">{{this.direction}}</div>
        </div>

        <div class="location">{{this.location}}</div>
      </div>

    </div>

  {{/each}}

</div>